output/2025-06-14*
output/baseline_parms_analysis/2025-06-27ea1_10perc_threshold/
output/baseline_parms_analysis/2025-06-27ea_1perc_threshold/
output/baseline_parms_analysis/2025-06-27seq_10erc_threshold/
output/baseline_parms_analysis/2025-06-27seq_1perc_threshold/
output/baseline_parms_analysis/2025-06-28baselineparms_1000runs_ea/
output/baseline_parms_analysis/2025-06-28baselineparms_1000runs_seq/
